// TODO:
//     - Refactor
//     - General Structur
//     - Fix Label
//     - Fix Cursor/Selection

.todo {
	.cmd-primary {
		font-size: 1.1rem;
		font-weight: $font-weight-bold;
		padding: 0.5rem 0;
		outline: none;
		overflow: hidden;
		line-height: 1.9rem;
		font-size: 1.1rem;

		&.editable {
			~ label {
				opacity: $opacity-0;
			}
		}

		&::after {
			content: '';
			position: absolute;
			top: 2.8rem;
			left: -0.1rem;
			width: 30%;
			min-width: 200px;
			border-top: 1px solid black;
		}

		~ label {
			position: absolute;
			font-size: 1.1rem;
			font-weight: $font-weight-bold;
			top: 0;
			left: 0;
			height: 100%;
			padding-top: 0.65rem;
			pointer-events: none;
			transform-origin: 0 0;
			transition: opacity 0.2s ease-in-out;

			&.visible {
				opacity: $opacity-0;
			}
		}

		> input {
			position: absolute;
			background-color: transparent;
			color: transparent;
			left: -0.1rem;
			top: 0.45rem;
			outline: none;
			width: 100%;

			&::selection {
				background: transparent;
			}
		}

		> p {
			white-space: pre;
			user-select: none;
		}
	}
}
