.cmd {
	> input {
		position: absolute;
		background-color: transparent;
		color: transparent;
		left: -0.1rem;
		top: 0.45rem;
		outline: none;
		width: 100%;

		&::selection {
			background: transparent;
		}
	}

	> p {
		white-space: pre;
		user-select: none;

		// Prevent collapse of p element
		// by adding non-breaking space
		&::after {
			content: '\00a0';
		}
	}

	&.cmd-primary {
		font-size: 1.1rem;
		font-weight: $font-weight-bold;
		padding: 0.5rem 0;
		line-height: 1.9rem;

		> label {
			position: absolute;
			font-size: 1.1rem;
			font-weight: $font-weight-bold;
			top: 0;
			left: 0;
			height: 100%;
			padding-top: 0.65rem;
			pointer-events: none;
			transform-origin: 0 0;
			transition: opacity 0.2s ease-in-out;
		}

		> input:valid ~ label,
		> input:focus ~ label {
			opacity: $opacity-0;
		}
	}
	&.cmd-secondary {
		// Maybe necessary maybe....
	}
}
