// Vars
$labelOpacityTo: 0;

// Colors
$color-green: hsl(110, 71%, 66%);
$color-green-saturated: hsl(110, 53%, 53%);
$color-red-dark: hsl(0, 18%, 33%);
$color-red-dark-saturated: hsl(0, 19%, 42%);
$color-red-light: hsl(0, 71%, 66%);
$color-red-light-saturated: hsl(0, 100%, 70%);


// TODO: 
//     - Refactor
//     - Move Vars
//     - General Structur
//     - Fix Label
//     - Fix Cursor/Selection

.todo {
    .cmd{
        font-family: 'Merriweather', serif;
        font-weight: 300;
        padding: .5rem 0;
        outline: none;
        overflow: hidden;
        //height: (40rem/16);
        line-height: 1.9rem;
        font-size: .9rem;

        &.cmd-main {
            font-size: 1.1rem;

            ~ label {
                font-size: 1.1rem;
            }

            &::after {
                content: "";
                position: absolute;
                top: 2.8rem;
                left: -.1rem;
                width:30%;
                min-width:200px;
                border-top: 1px solid black;
            }
        }

        ~ label {
            font-family: 'Merriweather', serif;
            font-weight: 400;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            padding-top: .65rem;
            pointer-events: none;
            transform-origin: 0 0;
            transition: opacity 0.2s ease-in-out;

            &.visible {
                opacity: $labelOpacityTo;
            }

        }

        > input {
            position: absolute;
            background-color: transparent;
            color: transparent;
            font-family: 'Merriweather', serif;
            font-weight: 400;
            left: -.1rem;
            top: .45rem;
            outline: none;

            &::selection {
                background: transparent;
            }
        }

        > p {
            white-space: pre;
            user-select: none;
            font-family: 'Merriweather', serif;
            font-weight: 400;

            > div {
                display: inline;

                &.due, &.tag, &.prio, &.assign {
                    background-color: #000;
                    color:#fff;
                    border-radius: 3px;
                    padding: .1rem 0.15rem;
                    margin: 0 -.15rem;
                }
                
                &.selection {
                    background-color: unset;
                    color: inherit;
                    border-radius:0;
                    padding:0;
                    margin:0;
    
                    &.focus {
                        background-color: #d4d4d4;
                    }
                }

                &.cursor {
                    display: none;
                    position: relative;
                    white-space: pre;
                    width: 0px;
                    
                    &::after {
                        content: "|";
                        position: absolute;
                        left: -.2rem;
                        bottom: -0.1rem;
                    }
    
                    &.focus {
                        display: inline-block;
                    }
                }
            }
        }

        &.editable {
            ~ label {
                opacity: $labelOpacityTo;
            }
        }
    }

    &.item {
        .cmd {
            &:before{
                content:">";
                font-weight: 400;
            }
        }
    }
}

mark {
    background-color: #000;
    color:#fff;
    border-radius: 3px;
    padding: .1rem 0.15rem;
    margin: 0 -.15rem;
}