.header {
  display: flex;
  padding: $distance-default $distance-default 2.8rem;
  user-select: none;

  > * {
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
  }

  #view-main & {
    &:before {
      content: '';
      height: 24px;
      width: 24px;
      flex: 0 0 auto;
      margin-right: 1rem;
      margin-top: 0.18rem;
      background-image: url(/src/assets/svg/ICON_Logo.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  > img {
    flex: 0 0 auto;
    width: auto;

    &:first-of-type {
      margin-right: 0.8rem;
    }

    &:last-of-type {
      margin-top: 0.4rem;
    }
  }
}
