.list-predefined {
  .container & {
    background-color: $color-blue-light;
  }

  .list-item {
    margin: 0.125rem 0;
    background-color: $color-blue-medium;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  > .list-item {
    &:hover {
      background-color: $hover-color-dark;
    }
  }
}
