@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

// Colors
$color-green: hsl(110, 71%, 66%);
$color-green-saturated: hsl(110, 53%, 53%);
$color-red-dark: hsl(0, 18%, 33%);
$color-red-dark-saturated: hsl(0, 19%, 42%);
$color-red-light: hsl(0, 71%, 66%);
$color-red-light-saturated: hsl(0, 100%, 70%);

// Opacity
$opacity-0: 0;

// Fonts
$font-family-default: 'Merriweather', serif;
$font-weight-default: 300;
$font-weight-bold: 400;