.cmd {
	span.types {
		display: inline;

		&.type-due,
		&.type-tag,
		&.type-prio,
		&.type-assign,
		&.type {
			background-color: #000;
			color: #fff;
			border-radius: 3px;
			padding: 0.1rem 0.15rem;
			margin: 0 -0.15rem;
		}

		&.type-selection {
			background-color: #d4d4d4;
			color: inherit;
			border-radius: 0;
			padding: 0;
			margin: 0;
			transition-delay: 0.1s;
		}

		&.type-cursor {
			display: inline-block;
			position: relative;
			white-space: pre;
			width: 0px;
			visibility: visible;
			transition-delay: 0.1s;

			&::after {
				content: '|';
				position: absolute;
				left: -0.2rem;
				bottom: -0.1rem;
			}
		}
	}

	> input:not(:focus) ~ * > span.types.type-cursor {
		visibility: hidden;
		opacity: 0;
	}

	> input:not(:focus) ~ * > span.types.type-selection {
		background-color: unset;
	}

	&.due {
		span.types {
			&.type-due,
			&.type-tag,
			&.type-prio,
			&.type-assign {
				background-color: $color-red-light-saturated;
			}
		}
	}

	&.done {
		span.types {
			&.type-due,
			&.type-tag,
			&.type-prio,
			&.type-assign {
				background-color: $color-green-saturated;
			}
		}
	}
}
