textarea,
input {
  width: 100%;
  border: 0;
  outline: none;
  resize: none;
  background-color: transparent;
  color: $color-blue-medium;
  display: none;

  &.active {
    display: inline-block;
  }

  &::placeholder {
    color: $color-blue-medium;
  }
}
